.mycont{
background-color: pink;
color: purple;
font-size: 25px;
text-align: center;
border-left: 20px;
border-right: 20px;
border-radius: 50px;
border-style: ridge;
font-family: magneto;
}

#referral_div{
background-color: white;
}

#get_referral_code{
  color: purple;
  background-color: white;
}

#gen_referral_code{
  color: purple;
  background-color: white;
}

#logout{
  color: white; 
  background-color: purple;
}

#player_title{
    color: purple;
}

#wallet_balance{
  color: purple;
}

#player_name{
  margin-left: 10px;
}

#player_phone{
  margin-left: 10px;
}

#referral_code{
  margin-left: 10px; 
}

.reg_btn{
  color: purple;
  font-size: 35px;
  background-color: white;
}

form{
  text-align: center;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
}


#bonus{
  background-color: white;
  color: purple;
  font-family: roboto;
}

#bonuss{
  color: aqua;
  font-family: roboto;
}

#bonussss{
  background-color: purple;
  color: white;
  font-family: roboto;
}

#bonusss{
  background-color: ;
  color: aqua;
  font-family: Georgia;
}


#ONE{  
color: aqua;
  font-family: roboto;
   font-size: 30px;
}

#TWO{
  color: aqua;
  font-family: roboto;
 font-size: 30px;
}

#THREE{
 color: aqua;
  font-family: roboto;
 font-size: 30px;
}

#FOUR{
 color: aqua;
  font-family: roboto;
 font-size: 30px;
}

#FIVE{
 font-size: 30px;
   color: aqua;
  font-family: roboto;
}

#SIX{
 font-size: 30px;
  color: aqua;
  font-family: roboto;
}

#SEVEN{
 font-size: 30px;
  color: aqua;
  font-family: roboto;
}

#EIGHT{
 font-size: 30px;
  color: aqua;
  font-family: roboto;
}

#NINE{
 font-size: 30px;
 color: aqua;
  font-family: roboto;
}

#TEN{
 font-size: 30px;
  color: aqua;
  font-family: roboto;
}

#phoneinp{
  text-align: center;
  font-size: 20px;
}

#selection{

}

#phonelbl{
  text-align: center;
  font-size: 20px;
}

#phonelbl1{
  font-size: 20px;
  text-align: center;
}

.color{
  color: aqua
  font-family: Georgia; 
  font-size: 30px;

}

#color{
  color: aqua
  font-family: Georgia; 
  font-size: 30px;

}

.save_player{
background-color: white;
border:white ridge 10px;
color: blue;
text-align: center;
font-weight: 50px;
font-size: 25px;
font-family: Georgia;
border-radius: 10px;
}


#admin{
  font-size: 2px;
}

#board{
background-color: white;
color: purple;
font-size: 45px;
text-align: center;
border-left: 20px;
border-right: 20px;
border-radius: 50px;
border-style: ridge;
font-family: magneto;
}

#Lucky_Num{
  background-color: purple;
  border-radius: 50%;
  color: white;
  font-weight: 500;
  display: auto;
  width: 200px;
  height: 200px;
  right: 60px;
  left: 60px;
  text-align: center;
  font-size: 170px;
  align-items: center;
  align-self: center;
  align-content: center;
  margin:auto;
  bottom: 50px;
  font-family: magneto;
  text-shadow: horizontal-offset vertical-offset blur color;
}

#start {
  background-color: blue;
  text-align: center;
  font-size: 10px;
  align-items: center;
  color: white;
  opacity: 0.8;
  margin:auto;
  border-radius: 30px;
  display: block;
}

#lotto{
  font-style: Georgia;
  font-size: 30px;
  text-align: center;
  border-radius: 200px;
  color: purple;
  font-weight: 500;
}

#stop {
  background-color: blue;
  text-align: center;
  font-size: 10px;
  align-items: center;
  color: white;
  opacity: 0.8;
  margin:auto;
  margin-top: 50px;
  border-radius: 30px;
  display: none;
}

#reset {
  background-color: blue;
  text-align: center;
  font-size: 10px;
  align-items: center;
  color: white;
  opacity: 0.8;
  margin:auto;
  margin-top: 50px;
  border-radius: 30px;
  display: none;
}
